


body {
    background-image: url(images/background.jpeg);
     background-size: cover;     /* make sure it covers the whole screen */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* prevent tiling */
  margin: 0;  /* remove default body margin */
  height: 250vh; /* ensure body takes full viewport height */

   font-family: sans-serif;
}

header {
  
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

header .logo {
font-family: algerian;
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    font-family: algerian;
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-width: 10px;


}

.info {

    font-size: 18px;
  font-weight: bold;
     -webkit-text-stroke: 0.7px black;
  color: white;
   padding: 60px;
   
}

.info h2 {
    margin-top: 0;
}

.info ul {
    list-style: none;
    padding: 0;
}

.gallery {
    padding: 40px;
    }

.gallery h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
}


@media (max-width: 768px) {
  .effect-class {
    display: none;
  }
}
